.image-นักเขียน{
      width: 50%;
      height: auto;
      display: block;
      border-radius: 50%; /* ทำให้ภาพกลม */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.top-bg {
      background-color: #f5ffbc; /* สีฟ้าอ่อน */
      padding: 25px;
      
    }

    .logo-img {
        width: 60px;
      height: auto;
    }

      .bg-purple {
    background-color: #6a5198; /* สีม่วงจาก Bootstrap (purple) */
    color: white;
  }

  .text-purple {
      color: #6f42c1;         /* สีม่วง */
      font-size: 1.2rem;      /* ขนาดพอดี */
     /* ความสูงบรรทัดให้ดูอ่านง่าย */
      font-weight: 400;
      max-width: 800px;
      padding: 20px;
      background-color: #ffffff;
      border-left: 6px solid #6f42c1;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .text-wight1 {
      color: #ffffff; 
        }

        .pattaya-regular {
  font-family: "Pattaya", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2.5rem; 
   color: #6f42c1;  
}

.bottom-box {
      background-color: #6f42c1; /* สีพื้นหลังที่คุณต้องการ */
      color: white;
      padding: 20px;
      bottom: 0;
      width: 100%;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

 .text-purple {
      color: #6f42c1;         /* สีม่วง */
      font-size: 1.2rem;      /* ขนาดพอดี */
     /* ความสูงบรรทัดให้ดูอ่านง่าย */
      font-weight: 400;
      max-width: 800px;
      padding: 20px;
      background-color: #ffffff;
      border-left: 6px solid #6f42c1;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

   
    .slider {
      max-width: 600px;
      position: relative;
      margin: auto;
      overflow: hidden;
      border: 2px solid #ccc;
      border-radius: 8px;
    }
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;
    }
    .slides img {
     display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
   
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      padding: 12px;
      color: white;
      background-color: rgba(0,0,0,0.5);
      border-radius: 50%;
      user-select: none;
      transform: translateY(-50%);
    }
    .prev {
      left: 10px;
    }
    .next {
      right: 10px;
    }
